@model MvcTutorial20220421.Models.TbHero

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>@*更多關於 HTML 與法的內容請參考講義 or Google 搜尋 w3school HTML*@

<h4>TbHero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">@*<form>*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atk" class="control-label"></label>
                <input asp-for="Atk" class="form-control" />
                <span asp-validation-for="Atk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hp" class="control-label"></label>
                <input asp-for="Hp" class="form-control" />
                <span asp-validation-for="Hp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skill" class="control-label"></label>
                <input asp-for="Skill" class="form-control" />
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
